---
export const prerender = false;

import Layout from "../../layouts/Layout.astro";
import { PUBLIC_BACKEND_URL, INTERNAL_BACKEND_URL } from "../../config/backend";


interface Cancion {
    id: number;
    titulo: string;
    descripcion: string;
    duracionSegundos: number;
    duracionTexto: string;
    portada: string;
    urlAudio: string;
    nombreArtista: string;
    tituloAlbum: string | null;
    artistaId: number;
    albumId: number | null;
    anteriorId: number | null;  
    siguienteId: number | null; 
}

const { id } = Astro.params;

let cancion: Cancion | null = null;

try {
    const res = await fetch(`${INTERNAL_BACKEND_URL}/api/public/cancion/${id}`);

    if (res.ok) {
        cancion = await res.json();
    }
} catch (err) {
    //console.error("[CancionDetalle] Error cargando cancion:", err);
}
---

<Layout title={cancion ? cancion.titulo : "Cancion"}>
    <main class="min-h-screen bg-black text-white flex justify-center items-center">
        {
            cancion ? (
                <section class="w-full max-w-3xl px-4 py-8 flex flex-col gap-6">
                    <div class="flex gap-6 items-center">
                        <img
                            src={cancion.portada}
                            alt={cancion.titulo}
                            class="w-40 h-40 rounded-2xl object-cover border border-white/10"
                        />
                        <div class="flex flex-col gap-1">
                            <p class="text-sm text-gray-400">Cancion</p>
                            <h1 class="text-2xl font-bold">
                                {cancion.titulo}
                            </h1>
                            <p class="text-gray-300 underline">
                                {cancion.nombreArtista}
                            </p>
                            <p class="text-sm text-gray-400">
                                {cancion.tituloAlbum ? cancion.tituloAlbum : "Single"}
                            </p>
                            <p class="text-sm text-gray-400 mt-2">
                                Duracion: {cancion.duracionTexto}
                            </p>
                        </div>
                    </div>

                    <p class="text-sm text-gray-300">
                        {cancion.descripcion}
                    </p>

                    {/* REPRODUCTOR */}
                    <div
                        id="custom-audio-player"
                        style="padding-left: 20px; padding-right: 20px; padding-top: 20px;"
                        class="w-full mt-6 bg-white/5 px-8 py-6 rounded-xl shadow-lg border border-white/10 flex flex-col gap-4"
                        data-backend-url={PUBLIC_BACKEND_URL}  
                        data-cancion-id={cancion.id}  
                        data-prev-id={cancion.anteriorId ?? ""}    
                        data-next-id={cancion.siguienteId ?? ""}
                    >
                        {/* Audio real controlado por el player */}
                        <audio
                            id="audio-source"
                            src={`${PUBLIC_BACKEND_URL}${cancion.urlAudio}`}
                            class="hidden"
                        ></audio>

                        {/* Controles principales */}
                        <div class="flex items-center justify-center gap-6">
                            {/* Anterior (decorativo) */}
                            <button
                                id="prev-btn"
                                title="Canci贸n anterior"
                                class="text-white hover:text-gray-300 transition disabled:opacity-50"
                                aria-label="Anterior canci贸n"
                                
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-8 h-8"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path d="M19 20V4" />
                                    <path d="M5 12l6 6V6l-6 6z" />
                                </svg>
                            </button>

                            {/* Play / Pause */}
                            <button
                                id="play-pause-btn"
                                title="Play"
                                class="bg-white text-black p-3 rounded-full hover:bg-gray-300 transition"
                                aria-label="Reproducir"
                            >
                                <svg
                                    id="play-icon"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-6 h-6 fill-current"
                                    viewBox="0 0 24 24"
                                >
                                    <path d="M7 6v12l10-6z" />
                                </svg>
                                <svg
                                    id="pause-icon"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-6 h-6 fill-current hidden"
                                    viewBox="0 0 24 24"
                                >
                                    <path d="M6 6h4v12H6zm8 0h4v12h-4z" />
                                </svg>
                            </button>

                            {/* Siguiente */}
                            <button
                                id="next-btn"
                                title="Canci贸n siguiente"
                                class="text-white hover:text-gray-300 transition disabled:opacity-50"
                                aria-label="Siguiente canci贸n"
                                
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="w-8 h-8"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                >
                                    <path d="M5 4v16" />
                                    <path d="M19 12l-6 6V6l6 6z" />
                                </svg>
                            </button>
                        </div>

                        {/* Barra de progreso y tiempos */}
                        <div class="flex items-center gap-4">
                            <span
                                id="current-time"
                                class="text-xs text-gray-400"
                            >
                                0:00
                            </span>

                            <input
                                type="range"
                                id="progress-bar"
                                value="0"
                                min="0"
                                max={cancion.duracionSegundos}
                                class="w-full h-1 bg-gray-700 rounded-lg appearance-none cursor-pointer range-lg [&::-webkit-slider-thumb]:w-3 [&::-webkit-slider-thumb]:h-3 [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:rounded-full [&::-webkit-slider-thumb]:bg-white"
                            />

                            <span
                                id="duration"
                                class="text-xs text-gray-400"
                            >
                                {cancion.duracionTexto}
                            </span>
                        </div>

                        {/* Like + Volumen */}
                        <div class="flex justify-between items-center mt-2">
                        {/* Like + mensaje */}
                        <div class="flex items-center gap-2">
                            <button
                            id="like-btn"
                            title="Me gusta"
                            class="text-white hover:text-red-500 transition"
                            aria-label="Me gusta"
                            >
                            <svg
                                id="heart-icon-empty"
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-6 h-6 fill-none stroke-current"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z" />
                            </svg>
                            </button>

                            <span
                            id="like-msg"
                            class="text-sm text-gray-400 opacity-0 transition-opacity duration-300"
                            ></span>
                        </div>

                        {/* Volumen */}
                        <div class="flex items-center gap-2 text-gray-400">
                            {/*  Volumen alto */}
                            <svg
                            id="vol-icon"
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-6 h-6 cursor-pointer"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            >
                            <path d="M11 5L6 9H2v6h4l5 4z" />
                            <path d="M15 10c1.5 1 1.5 3 0 4" />
                            <path d="M17.5 8c2.5 2 2.5 6 0 8" />
                            <path d="M20 6c3.5 3 3.5 9 0 12" />
                            </svg>

                            {/*  Mute */}
                            <svg
                            id="vol-icon-muted"
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-6 h-6 cursor-pointer hidden"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            >
                            <path d="M11 5L6 9H2v6h4l5 4z" />
                            <line x1="22" y1="9" x2="16" y2="15" />
                            <line x1="16" y1="9" x2="22" y2="15" />
                            </svg>

                            <input
                            type="range"
                            id="volume-slider"
                            min="0"
                            max="1"
                            step="0.01"
                            value="1"
                            class="w-20 h-1 bg-gray-700 rounded-lg appearance-none cursor-pointer range-lg [&::-webkit-slider-thumb]:w-3 [&::-webkit-slider-thumb]:h-3 [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:rounded-full [&::-webkit-slider-thumb]:bg-white"
                            />
                        </div>
                        </div>


                        <a
                            href={`/artista/${cancion.artistaId}`}
                            class="mt-6 inline-block px-6 py-3 bg-red-600 hover:bg-red-700 text-white font-semibold rounded-xl text-center transition-all duration-300 hover:scale-105"
                            >
                            Ir al artista
                        </a>
                        {
                            cancion.albumId && (
                                <a
                                    href={`/album/${cancion.albumId}`}
                                    class="mt-6 inline-block px-6 py-3 bg-red-600 hover:bg-red-700 text-white font-semibold rounded-xl text-center transition-all duration-300 hover:scale-105"
                                >
                                    Ir al 谩lbum
                                </a>
                            )
                        }
                    </div>

                    <script type="module">

                        async function registrarEscucha(BACKEND_URL, cancionId, token, marcado) {
                            if (!BACKEND_URL || !cancionId || !token || marcado.value) return;

                            try {
                                await fetch(`${BACKEND_URL}/api/user/escuchar/${cancionId}`, {
                                    method: "POST",
                                    headers: {
                                        Authorization: `Bearer ${token}`,
                                    },
                                });

                                marcado.value = true;
                                //console.log("Escucha registrada");
                            } catch (err) {
                                //console.error("Error registrando escucha:", err);
                            }
                        }

                        document.addEventListener("DOMContentLoaded", () => {
                            
                            const audio = document.getElementById("audio-source");
                            if (!audio) return;

                            const botonReproducirPausar = document.getElementById("play-pause-btn");
                            const iconoPlay = document.getElementById("play-icon");
                            const iconoPause = document.getElementById("pause-icon");

                            const barraProgreso = document.getElementById("progress-bar");
                            const tiempoActualTexto = document.getElementById("current-time");
                            const duracionTexto = document.getElementById("duration");

                            const botonLike = document.getElementById("like-btn");
                            const iconoCorazonVacio = document.getElementById("heart-icon-empty");

                            const iconoVolumen = document.getElementById("vol-icon");
                            const iconoVolumenMuteado = document.getElementById("vol-icon-muted");
                            const controlVolumen = document.getElementById("volume-slider");

                            // Player + datos de backend
                            const player = document.getElementById("custom-audio-player");
                            const BACKEND_URL = player?.dataset.backendUrl ?? "";
                            const cancionId = player?.dataset.cancionId ?? null;

                            // URLs para likes
                            const urlLike = `${BACKEND_URL}/api/user/like/${cancionId}`;
                            const urlExists = `${BACKEND_URL}/api/user/like/${cancionId}/exists`;

                            // botones anterior / siguiente
                            const prevBtn = document.getElementById("prev-btn");
                            const nextBtn = document.getElementById("next-btn");
                            const prevId = player?.dataset.prevId || null;
                            const nextId = player?.dataset.nextId || null;

                            // Si hay id anterior -> habilitar boton y navegar
                            if (prevBtn) {
                                if (!prevId) {
                                    prevBtn.disabled = true;
                                } else {
                                    prevBtn.disabled = false;
                                    prevBtn.addEventListener("click", () => {
                                        window.location.href = `/cancion/${prevId}`;
                                    });
                                }
                            }

                            // Si hay id siguiente -> habilitar boton y navegar
                            if (nextBtn) {
                                if (!nextId) {
                                    nextBtn.disabled = true;
                                } else {
                                    nextBtn.disabled = false;
                                    nextBtn.addEventListener("click", () => {
                                        window.location.href = `/cancion/${nextId}`;
                                    });
                                }
                            }


                            // Estado de like
                            let estadoLike = false;

                            const estadoEscucha = { value: false };

                            audio.addEventListener("timeupdate", () => {
                                if (audio.currentTime > 3) {
                                    const token = localStorage.getItem("token");
                                    if (token) {
                                        registrarEscucha(BACKEND_URL, cancionId, token, estadoEscucha);
                                    }
                                }
                            });

                            audio.addEventListener("ended", () => {
                                estadoEscucha.value = false;
                            });

                            
                            
                            // Formatear tiempo mm:ss
                            function formatearTiempo(segundos) {
                                const minutos = Math.floor(segundos / 60);
                                const restoSegundos = Math.floor(segundos % 60);
                                return `${minutos}:${restoSegundos < 10 ? "0" : ""}${restoSegundos}`;
                            }

                            // Pintar el coraz贸n seg煤n estado
                            function pintarLike(estaLikeado) {
                                if (!botonLike || !iconoCorazonVacio) return;
                                estadoLike = estaLikeado;

                                if (estaLikeado) {
                                    botonLike.classList.add("is-liked");
                                    iconoCorazonVacio.classList.add("fill-red-500", "stroke-red-500");
                                    iconoCorazonVacio.classList.remove("fill-none", "stroke-current");
                                } else {
                                    botonLike.classList.remove("is-liked");
                                    iconoCorazonVacio.classList.remove("fill-red-500", "stroke-red-500");
                                    iconoCorazonVacio.classList.add("fill-none", "stroke-current");
                                }
                            }

                            function mostrarMensajeLike(texto, estaLikeado) {
                                const msg = document.getElementById("like-msg");
                                if (!msg) return;

                                msg.textContent = texto;

                                // Reset colores
                                msg.classList.remove("text-green-400", "text-red-400");

                                // Color segun estado del like
                                if (estaLikeado) {
                                    msg.classList.add("text-green-400"); // cuando queda likeado
                                } else {
                                    msg.classList.add("text-red-400"); // cuando se quita
                                }

                                // Mostrar
                                msg.classList.remove("opacity-0");

                                // Ocultar despues de 2s
                                setTimeout(() => {
                                    msg.classList.add("opacity-0");
                                }, 2000);
                            }



                            /* Play / Pause */
                            if (botonReproducirPausar) {
                                botonReproducirPausar.addEventListener("click", () => {
                                    if (audio.paused) {
                                        audio.play();
                                        iconoPlay && iconoPlay.classList.add("hidden");
                                        iconoPause && iconoPause.classList.remove("hidden");
                                        botonReproducirPausar.setAttribute("aria-label", "Pausar");
                                    } else {
                                        audio.pause();
                                        iconoPlay && iconoPlay.classList.remove("hidden");
                                        iconoPause && iconoPause.classList.add("hidden");
                                        botonReproducirPausar.setAttribute("aria-label", "Reproducir");
                                    }
                                });
                            }

                            /* Barra Progreso */
                            audio.addEventListener("timeupdate", () => {
                                if (tiempoActualTexto) {
                                    tiempoActualTexto.textContent = formatearTiempo(audio.currentTime);
                                }

                                if (!barraProgreso || !audio.duration) return;

                                const progreso = (audio.currentTime / audio.duration) * 100;
                                barraProgreso.value = audio.currentTime;

                                barraProgreso.style.background = `
                                    linear-gradient(
                                        to right,
                                        white 0%,
                                        white ${progreso}%,
                                        #4b5563 ${progreso}%,
                                        #4b5563 100%
                                    )
                                `;
                            });

                            audio.addEventListener("ended", () => {
                                iconoPlay && iconoPlay.classList.remove("hidden");
                                iconoPause && iconoPause.classList.add("hidden");
                                audio.currentTime = 0;
                            });

                            if (barraProgreso) {
                                barraProgreso.addEventListener("input", () => {
                                    audio.currentTime = Number(barraProgreso.value);
                                });
                            }

                            /* Volumen */
                            if (controlVolumen) {
                                controlVolumen.addEventListener("input", (evento) => {
                                    const valor = evento.target;
                                    audio.volume = Number(valor.value);

                                    if (audio.volume === 0) {
                                        iconoVolumen && iconoVolumen.classList.add("hidden");
                                        iconoVolumenMuteado && iconoVolumenMuteado.classList.remove("hidden");
                                    } else {
                                        iconoVolumen && iconoVolumen.classList.remove("hidden");
                                        iconoVolumenMuteado && iconoVolumenMuteado.classList.add("hidden");
                                    }
                                });
                            }

                            audio.addEventListener("loadedmetadata", () => {
                                if (duracionTexto) {
                                    duracionTexto.textContent = formatearTiempo(audio.duration);
                                }
                                if (barraProgreso) {
                                    barraProgreso.max = audio.duration;
                                }
                            });

                            /* Comprobar like al cargar */
                            (async () => {
                                if (!botonLike || !cancionId || !BACKEND_URL) return;

                                const token = localStorage.getItem("token");
                                if (!token) {
                                    pintarLike(false);
                                    return;
                                }

                                try {
                                    const res = await fetch(urlExists, {
                                        method: "GET",
                                        headers: {
                                            "Authorization": `Bearer ${token}`,
                                        },
                                    });

                                    if (res.ok) {
                                        const data = await res.json(); // { liked: true/false }
                                        pintarLike(Boolean(data.liked));
                                    } else {
                                        pintarLike(false);
                                    }
                                } catch (e) {
                                    console.error("Error comprobando like:", e);
                                    pintarLike(false);
                                }
                            })();

                            /* Click en el corazon POST o DELETE seg煤n estado */
                            if (botonLike) {
                                botonLike.addEventListener("click", async () => {
                                    if (!cancionId || !BACKEND_URL) return;

                                    const token = localStorage.getItem("token");
                                    if (!token) {
                                        toast("Inicia sesion para guardar canciones", "error");
                                        setTimeout(() => window.location.href = "/login", 1200);
                                        return;
                                    }

                                    const metodo = estadoLike ? "DELETE" : "POST";

                                    try {
                                        const res = await fetch(urlLike, {
                                            method: metodo,
                                            headers: {
                                                "Authorization": `Bearer ${token}`,
                                            },
                                        });

                                        if (res.status === 204 || res.status === 200) {
                                            const nuevoEstado = !estadoLike;

                                            pintarLike(nuevoEstado);
                                            estadoLike = nuevoEstado;

                                            mostrarMensajeLike(
                                                nuevoEstado ? "Guardado" : "Eliminado",
                                                nuevoEstado
                                            );
                                        }



                                        else if (res.status === 401 || res.status === 403) {
                                            mostrarMensajeLike("Sesion expirada", false);
                                            setTimeout(() => window.location.href = "/login", 1200);
                                        }


                                        else {
                                            //console.error("Error al hacer like:", await res.text());
                                            toast("Error inesperado", "error");
                                        }

                                    } catch (e) {
                                        //console.error("Error de red al hacer like:", e);
                                        toast("Error de red", "error");
                                    }
                                });
                            }


                            function toast(mensaje, tipo = "info") {
                                const div = document.createElement("div");

                                div.textContent = mensaje;
                                div.className = `
                                    fixed bottom-6 left-1/2 -translate-x-1/2
                                    px-4 py-2 rounded-xl text-white text-sm
                                    z-50 backdrop-blur-md
                                    transition-opacity duration-300
                                    ${tipo === "error" ? "bg-red-600/80" : "bg-black/80"}
                                `;

                                document.body.appendChild(div);

                                setTimeout(() => {
                                    div.style.opacity = "0";
                                }, 2500);

                                setTimeout(() => {
                                    div.remove();
                                }, 3000);
                            }
                        });
                    </script>

                </section>
            ) : (
                <p class="text-gray-400">No se ha podido cargar la canci贸n.</p>
            )
        }
    </main>
</Layout>
